
* {
  font-family: 'Open Sans', sans-serif;
}

body {
  background: var(--body);
}

/* TITULOS E TEXTOS */

.app-title {
  display: block;
  width: 100%;
  text-align: center;
  font-weight: 600;     
  font-size: 1.8rem;
  padding: 16px;
  color: var(--text-primary);
  text-shadow: 1px 1px var(--field-text-shadow)
}

.app-title2 {
  display: block;
  width: 100%;
  text-align: center;
  font-weight: 600;     
  font-size: 1.8rem;
  padding: 16px;
  color: var(--label);
  text-shadow: 1px 1px var(--field-text-shadow)
}

.app-subtitle {
  display: block;
  width: 100%;
  font-weight: 600;     
  font-size: 1.4rem;

  color: var(--text-secondary);
  text-shadow: 1px 1px var(--field-text-shadow)
}

/* CONTAINERS */

.app-container2 {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 1rem;
}

.app-container {
  width: 80%;
  max-width: 80%;
  margin: 0 auto;
  padding: 0 1rem;
  margin-left: auto;
  margin-right: auto;
}

.app-container3 {
  width: 80%;
  max-width: 80%;
  margin: auto;
  padding: 8px;
  /* margin-left: auto;
  margin-right: auto; */
}

.container-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem 1.2rem;
}

.container-3-columns {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem 1.2rem;
}

.container-3-columns select{
  width: 350px;
}
.container-3-columns datalist{
  width: 350px;
}

.container-4-columns {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem 0.6rem;
}

.container-5-columns {
  display: grid;
  grid-template-columns: repeat(5, 19.5%);
  gap: 10px 10px;
}

.container-7-columns {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 2rem 1.2rem;
}

.container-2-columns {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem 1.2rem;
}

@media(max-width: 1300px) {
  .container-5-columns {
     grid-template-columns: repeat(4, 24.3%);
  }
  .container-4-columns {
     grid-template-columns: repeat(4, 1fr);
  }
  .container-3-columns {
     grid-template-columns: repeat(3, 1fr);
  }
}

@media(max-width: 1050px) {
  .container-5-columns {
     grid-template-columns: repeat(3, 32.4%);
  }
  .container-4-columns {
     grid-template-columns: repeat(3, 1fr);
  }
  .container-3-columns {
     grid-template-columns: repeat(2, 1fr);
  }
}

@media(max-width: 850px) {
  .container-5-columns {
     grid-template-columns: repeat(2, 50%);
  }
  .container-4-columns {
     grid-template-columns: repeat(2, 1fr);
  }
  .container-3-columns {
     grid-template-columns: 1fr;
  }

  .container-2-columns {
     grid-template-columns: 1fr;
  }
}
@media(max-width: 650px) {
  .container-5-columns {
     grid-template-columns: repeat(1, 100%);
  }
  .container-4-columns {
     grid-template-columns: repeat(1, 1fr);
  }
  .container-3-columns {
     grid-template-columns: 1fr;
  }

  .container-2-columns {
     grid-template-columns: 1fr;
  }
}