/* BOTAO PADRAO*/

.btn-app {
  font-size: 1.2rem;
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  outline: 0;
  padding: .4rem 1.8rem;
  border-radius: .2rem;
  font-weight: 600;
  transition: background .1s ease-in-out;
  transition: color .1s ease-in-out;
  border: 2px solid transparent;
  background: var(--front-card);
  color: white;
  box-shadow: 0 3px 10px rgba(0,0,0 .15);
}

.btn-app.btn-app-sm {
  font-size: .8rem;
  padding: .2rem .9rem;
}

.btn-app:hover {
  background: var(--front-card-hover);
}

/* BOTAO DE ESQUECI A SENHA */

.btn-app.cancel {
  background: transparent;
  color: var(--field-border-focus);
}

.btn-app.cancel:hover {
  background: transparent;
  border: 2px solid var(--red);
  color: var(--red);
}

/* CONFIGURAÇÃO DO BOTÃO NO FIM DA PÁGINA*/

.btn-fp {
  width: 25%; 
  margin: auto;
}

@media(max-width: 800px) {
  .btn-fp {
    width: 100%;
    margin: auto;
  }
}

.btn-fp2 {
  width: 80%; 
  margin: auto;
}

@media(max-width: 800px) {
  .btn-fp2 {
    width: 100%;
    margin: auto;
  }
}

.olho {
  background: var(--front-card);
}

.olho:hover {
  background: var(--front-card-hover);
}

.esquecido {
  color: var(--field-border-focus);
}