/* BOTAO PADRAO - COR AZUL */

.btn-app {
  font-size: 1.2rem;
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  outline: 0;
  padding: .4rem 1.8rem;
  border-radius: .2rem;
  font-weight: 600;
  transition: background .1s ease-in-out;
  transition: color .1s ease-in-out;
  border: 2px solid transparent;
  background: var(--front-card);
  color: white;
  box-shadow: 0 3px 10px rgba(0,0,0 .15);
}

.btn-app.btn-app-md {
  font-size: 1rem;
  padding: .3rem 1.3rem;
}

.btn-app.btn-app-sm {
  font-size: .8rem;
  padding: .2rem .9rem;
}

.btn-app:hover {
  background: var(--front-card-hover);
}

/* BOTAO DE CANCELAR - TRANSAPRENT NO HOVER FICA VERMELHO */

.btn-app.cancel {
  background: transparent;
  color: var(--field-border-focus);
  box-shadow: 0 0 0 rgba(0,0,0 .15);
}

.btn-app.cancel:hover {
  background: transparent;
  border: 2px solid var(--red);
  color: var(--red);
  box-shadow: 0 3px 10px rgba(0,0,0 .15);
}

/* BOTAO DE VERDE */

.btn-app.success {
  background: var(--green);

}

.btn-app.success:hover {
  background: var(--green-dark);

}

.btn-app.success.outline {
  background: transparent;
  border: 2px solid var(--green);
  color: var(--green);
}

.btn-app.success.outline:hover {
  background: var(--green);
  color: white;
}

.btn-app.delete {
  background: var(--red);
  color: var(--body);
  box-shadow: 0 0 0 rgba(0,0,0 .15);
}

.btn-app.delete:hover {
  background: transparent;
  border: 2px solid var(--red);
  color: var(--red);
  box-shadow: 0 3px 10px rgba(0,0,0 .15)
}