/* TABELA */

.table {
  border-collapse: collapse;
  width: 80%;
  border-spacing: 0px;
  max-height: 200px;
  overflow: scroll;
}

.table tbody {
  width: 100%;
  overflow-y: scroll;
  max-height: 300px;
  display: block;
}

.table thead {
  display: block;
  position: relative;
  min-width: 120px;
  max-width: 120px;
}

.header {
  overflow-y: auto;
  white-space: pre-wrap;
}

.table th {
  background-color: var(--body);
  font-family: 'Open sans', sans-serif;
  font-size: 12px;
  font-weight: 800;
  padding: 5px 0px;
  min-width: 120px;
  max-width: 120px;
  border: 2px solid var(--text-primary) !important;
  color: var(--text-primary);
  text-transform: uppercase;
  text-align: center; 
}

.table td {
  background-color: var(--body2);
  text-transform: uppercase;
  font-family: 'Open sans', sans-serif;
  font-size: 15px;
  font-weight: 400;
  min-width: 120px;
  max-width: 120px;
  padding: 2px;
  border: 2px solid var(--text-secondary) !important;
  color: var(--text-primary);
  text-align: center;
}

td div {
  border: 0;
  width: auto;
  height: auto;
  min-height: 20px;
  min-width: 20px;
  text-transform: uppercase;
}

